/* color palette */

body {
    --light-blue: #4982ba;
    --dark-blue: #004BA8;
    --light-grey: #4A525A;
    --dark-grey: #171d26;
    --black: #07070A;
    --transparent: rgba(0, 0, 0, 0);
}

/* coloring */

body {
    background-color: var(--dark-grey);
    color: var(--light-blue);
}

.screen,.screen-wrapper,.right-sidebar,.sidebar-wrapper{
    border: 1px solid var(--dark-blue);
}
